<h1>Listing highscores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
  </tr>

<% @highscores.each do |highscore| %>
  <tr>
    <td><%= highscore.name %></td>
    <td><%= highscore.score %></td>
  </tr>
<% end %>
</table>
